:root {
    /* insert root colors and fonts here */
    --pale-purple: #F8EFFB;
    --dark-purple: #2A0A29;
    --dark-grey: #1C1C1C;
    --mauve: #8E6B6B;
    --cursive: 'Calistoga', cursive;
    --sans-serif: 'Roboto', sans-serif;
}

body {
  text-align: center;
  background: var(--dark-purple);
  color: var(--pale-purple);
  font-family: var(--sans-serif);
  margin: 0;
  /* to keep the footer at the very bottom of the page */
  position: relative;
  min-height: 100vh;
}

.git-links {
    color: var(--pale-purple);
}

.error {
  color: red;
  font-weight: bold;
}

.header {
    width: 90%;
    min-width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: var(--cursive);
    font-size: 3em;
}

.header img {
  width: 80%;
  min-width: 400px;
  max-width: 750px;
}

.menu {
  background: var(--mauve);
  box-shadow: 0 5px 5px rgba(0,0,0,1);
}

.nav {
    display: flex;
    width: 450px;
    margin: auto;
    justify-content: space-between;
    font-family: var(--cursive)
}

.nav-button {
    padding: 10px;
    margin: .2em;
}

.nav-button:hover {
  cursor: pointer;
  outline: 2px solid white;
}

#about {
  cursor: pointer;
  font-family: var(--cursive);
  position: relative;
  bottom: 60px;
}

.login-signup-boxes {
  position: relative;
  bottom: 60px;
}

.title {
  font-family: var(--cursive);
}

#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

#modal-textbox {
  background-color: var(--pale-purple);
  color: var(--dark-purple);
  border: 1px solid black;
  height: 250px;
  width: 400px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  padding: 1em;
}

#close {
  color: black;
}

.content {
  /* This is to keep the footer out of the content area */
  padding-bottom: 2.5rem;
}

.all-songs-header {
  margin: 1em;
  font-family: var(--cursive);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: var(--mauve);
  border-radius: 5px;
  width: 400px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,1);
}

.song-title-and-info {
  background-color: var(--dark-purple);
  border-bottom: 0.2px solid var(--pale-purple);
  width: 98%;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}

.sub-header {
  margin: 1em;
}

.add-buttons {
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  color: var(--dark-purple);
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.special {
  border: 1px solid var(--pale-purple);
  color: var(--pale-purple);
  background: var(--dark-purple);
  font-weight: bold;
  font-size: 0.8em;
  padding: .25em;
  border-radius: 5px;
  cursor: pointer;
}

.signup{
  font-family: var(--sans-serif);
}

.login {
  border: none;
  font-family: var(--sans-serif);
}

.cancel {
  position: relative;
  bottom: 35px;
  left: 80px;
}

.song-info{
    text-transform: capitalize;
}

.collection {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.collection-info {
    margin: 0 .5em
}

.collection-name {
    font-size: 30px;
    font-weight: bold;
}

.collection-name:hover {
    color: var(--mauve);
}

.trash {
  position: relative;
  top: 25px;
}

.trash:hover {
  color: red;
}

.editSongs {
    border: 1px dashed black;
    margin-top: 10px;
}

@media (min-width: 600px) {

.add-bar {
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--mauve);
  font-size: .75em;
  padding: 1em;
}
