:root {
    /* insert root colors and fonts here */
    --pale-purple: #F8EFFB;
    --dark-purple: #2A0A29;
    --dark-grey: #1C1C1C;
    --mauve: #8E6B6B;
    --cursive: 'Calistoga', cursive;
}

body {
  text-align: center;
  background: var(--dark-purple);
  color: var(--pale-purple);
}

.header {
    width: 90%;
    min-width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: var(--cursive);
    font-size: 3em;
}

.header img {
  width: 80%;
  min-width: 400px;
  max-width: 750px;
}

h4 {
  font-family: var(--serif)
}

.nav {
    display: flex;
    width: 450px;
    margin: auto;
    justify-content: space-between;
    font-family: var(--cursive)
}

.nav-button {
    outline: 1px solid white;
    padding: 10px;
}
.nav-button:hover {
  cursor: pointer;
  outline: 2px solid white;
}

#about {
  cursor: pointer;
}

#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

#modal-textbox {
  background-color: var(--pale-purple);
  color: var(--dark-purple);
  border: 1px solid black;
  height: 200px;
  width: 400px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
}

#close {
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 0.5px solid var(--dark-grey);
  background-color: var(--mauve);
  border-radius: 5px;
  width: 400px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.add-buttons {
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  color: var(--pale-purple);
  background-color: var(--dark-purple);
  cursor: pointer;
}

.special {
  border: 1px solid var(--mauve);
  font-weight: bold;
  font-size: 1.2em;
  padding: .25em;
  border-radius: 5px;
}

.song-info{
    text-transform: capitalize;
}

.collection {
    display: flex;
    justify-content: space-around;
    border: 1px solid gold;
    margin: 10px;
    cursor: pointer;
}

.collection-info {
    margin: 10px;
}

.collection-info > p {
    font-size: 20px;
    font-weight: bold;
}

.editSongs {
    border: 1px dashed black;
    margin-top: 10px;
}

.add-bar {
  font-size: 25px;
}

@media (min-width: 600px) {

.add-bar {
  font-size: 18px;
}
