<h3 id='about'
ng-if="ctrl.loggedInUser === false"
ng-click='ctrl.openModal()'>About</h3>
<div id='modal' ng-if='ctrl.open'>
  <div id='modal-textbox'>
  <h3 class='title'>About Songbird</h3>
  <p>Songbird is a music listening platform that allows users to upload songs to a shared database and keep personal collections of their favorite tracks. The site is a collaboration between <a class="modal-links" href="https://github.com/aylaex" target="_blank">Ayla Ex</a>, <a class="modal-links" href="https://github.com/jewlsrules" target="_blank">Jewls Krueger</a>, and <a class="modal-links" href="https://github.com/beccaking" target="_blank">Becca King</a>, students of General Assembly's software engineering immersive bootcamp.</p>
  <a id='close' href='#' ng-click='ctrl.closeModal()'>Close</a>
  </div>
</div>
