<h1>All Songs</h1>
<!-- Add a song -->
<h4>Add a song to the database: </h4>
<form ng-submit='ctrl.addSong()'>
  <input type="text" ng-model="ctrl.songTitle" placeholder="Song title">
  <input type="text" ng-model="ctrl.songArtist" placeholder="Artist">
  <input type="text" ng-model="ctrl.songUrl" placeholder="Youtube embed URL">
  <input type="submit" value="Add Song">
</form>
<span>Hint: click Share -> Embed on Youtube for the correct https address</span>
<br/>
<br/>

<!-- List of songs -->
<div ng-repeat="song in ctrl.songs">
  <span><b>Song: </b></span><span>{{song.title}}</span>
  <br/>
  <span><b>Artist: </b></span><span>{{song.artist}}</span>
  <br/>
  <iframe width="400" height="225" src="{{song.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br/>
  <button ng-if='(ctrl.loggedInUser)' ng-click='ctrl.toggleshow()'>Add to Collection</button>
  <div ng-if='ctrl.show' ng-repeat='collection in ctrl.collections'>
    <button ng-click='ctrl.addToCollection(song, collection)'>Add to {{collection.name}}</button>
  </div>


<!-- admin functions -->
  <button ng-if='(ctrl.loggedInUser.username === "admin")' ng-click='ctrl.delete(song)'>Delete</button>
  <form ng-if='(ctrl.loggedInUser.username === "admin")' ng-submit='ctrl.edit(song)'>
    <input type="text" ng-model='ctrl.editedTitle' placeholder='{{song.title}}'>
    <input type="text" ng-model='ctrl.editedArtist' placeholder='{{song.artist}}'>
    <input type="text" ng-model='ctrl.editedUrl' placeholder='{{song.url}}'>
    <input type="submit" value="Edit Song">
  </form>
  <!-- admin functions -->


</div>
