<hr>
<!-- Add a song -->
<div class='add-bar' ng-if="ctrl.loggedInUser !== false">
<h4>Add a song to the database: </h4>
<form ng-submit='ctrl.addSong()'>
  <input class="add-buttons" type="text" ng-model="ctrl.songTitle" placeholder="Song title" required>
  <input class="add-buttons" type="text" ng-model="ctrl.songArtist" placeholder="Artist" required>
  <input class="add-buttons" type="text" ng-model="ctrl.songUrl" placeholder="Youtube URL" required>
  <input class="add-buttons special" type="submit" value="Add Song">
</form>
<br/>
<br/>
</div>
<!-- Add a song -->
<hr>
<div class="flex-container">
<!-- List of songs -->
<div class='box' ng-repeat="song in ctrl.songs">
<div>
  <span><b>Song: </b></span><span class="song-info">{{song.title}}</span>
  <br/>
  <span><b>Artist: </b></span><span class="song-info">{{song.artist}}</span>
  </div>
  <br/>
  <iframe width="400" height="225" src="{{song.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br/>
  <!-- List of songs -->

  <!-- Add to collection buttons -->
  <button class="add-buttons special" ng-if='(ctrl.loggedInUser) && (ctrl.indexToShow !== $index)' ng-click='ctrl.indexToShow = $index'>Add to Collection</button>
  <button class="add-buttons special" ng-if='(ctrl.loggedInUser) && (ctrl.indexToShow === $index)' ng-click='ctrl.indexToShow = null'>Add to Collection</button>
    <div ng-if='($index === ctrl.indexToShow)'>
      <div ng-if='(ctrl.collections.length !== 0)' ng-repeat='collection in ctrl.collections'>
        <button class="add-buttons" ng-click='ctrl.addToCollection(song, collection)'>Add to {{collection.name}}</button>
      </div>
    </div>
    <form ng-if='($index === ctrl.indexToShow)' ng-submit='ctrl.addToNewCollection(song)'>
      <input class="add-buttons" type='text' ng-model='ctrl.collectionName' placeholder='Collection name'>
      <button class="add-buttons" type='submit'>Add to a new collection</button>
    </form>
<!-- Add to collection buttons -->

<!-- admin functions -->
  <button class="add-buttons special" ng-if='(ctrl.loggedInUser.username === "admin")' ng-click='ctrl.delete(song)'>Delete Song</button>

  <div class="editSongs" ng-if='(ctrl.loggedInUser.username === "admin")'>
  <form ng-if='(ctrl.loggedInUser.username === "admin")' ng-submit='ctrl.edit(song)'>
    Name:<input class="add-buttons" type="text" ng-model='ctrl.editedTitle' placeholder='{{song.title}}'>
    Artist:<input class="add-buttons" type="text" ng-model='ctrl.editedArtist' placeholder='{{song.artist}}'>
    Link:<input class="add-buttons" type="text" ng-model='ctrl.editedUrl' placeholder='{{song.url}}'>
    <button class="add-buttons" type="submit">Edit Song</button>
  </form>
  </div>
  <!-- admin functions -->
  </div>


</div>
