    <!--create new collection (on the user collection page, but when they click something it will toggle show) -->
<div ng-if="ctrl.loggedInUser !== false">
<h1>My Collections</h1>
<h4>Create a new collection: </h4>

<div class="new-collection">
  <form ng-submit="ctrl.newCollection()">
    <input class="add-buttons" ng-model='ctrl.name' type="text" placeholder='Collection Name' required>
    <input class="add-buttons special" type="submit" value="Create Collection">
  </form>
</div>
</div>
<!-- List of collections -->
<div class="flex-container">
<div ng-repeat="collection in ctrl.collections">
    <div class="collection">
        <div class="collection-info">
            <!-- ctrl.chosenCollection needs to be reassigned to the name of the collection clicked -->
            <p ng-click="ctrl.index = $index;
            ctrl.showSongs(collection);
            ctrl.chosenCollection = true">{{collection.name}}</p>
        </div>
        <div class="collection-info">
            <p ng-click="ctrl.deleteCollection(collection)"><ion-icon name="trash"></ion-icon></p>
        </div>
    </div>
  </div>
  </div>
  <!-- Name of chosen collection -->
  <h2
    ng-if="ctrl.chosenCollection !== false">this.chosenCollection =  {{ctrl.chosenCollection}}</h2>
  <!-- List of songs -->
  <div class="flex-container">
  <div class="box" ng-repeat='song in ctrl.collectionSongs track by $index'>
      <div>
      <span><b>Song: </b></span>
     <span class="song-info">{{song.title}}</span>
      <br/>
      <span><b>Artist: </b></span>
      <span class="song-info">{{song.artist}}</span>
      </div>
      <br/>
      <iframe width="400" height="225" src="{{song.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <button class="add-buttons special" ng-click="ctrl.removeSongFromPlaylist(song)">Remove Song From Playlist</button>
      <br/>
  </div>
  </div>
